@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>ASP.NET in Azure!</h1>
    <p class="lead">Michael eats Poo Poo and Pee Pee.</p>
</div>

<body>


    <div>
        <h1>ZAOVIS</h1>
        <p>
            A progressive website opportunity for international people without limitations. Michael, Waylon, and Wyatt work with international
            people of progress. Big with ideas and riding low these funky gentlemen slide to the action, the three alpha males on any scene.
            You international women need not be intimidated, the doctors of love have arrived.
        </p>

        <h3>International Members: </h3>



        <h4>Michael L:</h4>
        <a href="/Michael">
            <img src="~/images/michaelblack.jpg" alt="international man" style="width::330px;height:250px;"><a />
            <p>A man of great proclivity and reason; he has triumphed over many obstacles and persuaded himself to continue in the face of destitution.</p>
    </div>


    <div>
        <h4>Waylon H:</h4>
        <a href="/Waylon">
            <img src="~/images/Waylon.jpg" alt="the best one" style="witdh:330px;height:250px;"><a />

            <p>No where else is there a catch-22 that is unable to catch the heat, but his determination against said heat is quite intangible.</p>
    </div>


    <div>
        <h4>Wyatt H:</h4>
        <a href="/Wyatt">
            <img src="~/images/trump.jpg" alt="another international man" style="width:330px;height:250px;"><a />
            <p>Fresh off the mud and into the streets, this dog comes with fresh new ideas, with unprecedented, and often fallable tenacity.</p>
    </div>





</body>
