@page
@model MichaelModel
@{
}

    <div class="header">
        <h1>Michael's ZAOVIS</h1>
    </div>

    <div>
        <p>
            A funky kang and a stanky dog, he hits the streets and the babes with his powerful prescience. A man of international aspirations,
            he and his collaborators are full with progress and innovation.
        </p>
    </div>

    <p><img src="images/$_57.jpg" alt="international man" img id="image1"> A true man doesn't go anywhere without his main car.</p>

    <p><img src="images/1968-Dodge-Charger-green-30.jpg" alt="international man" img id="image2">A true man doesn't go anywhere without his main car.</p>


    <p><img src="images/1970-Plymouth-Sport-Fury-GT-Hardtop-Burnished-Red-Poly-fvl-_2005-WW_WD-DCTC_-DSCN7158.jpg" alt="international man" img id="image1">A true man doesn't go anywhere without his main car.</p>


    <embed src="Family Blues.mp3" autostart="true" loop="true" hidden="true">
