@page
@model WyattModel
@{
}
<div>
    <h1>Wyatt's ZAOVIS:</h1>
    <p>A progressive man of opportunity for international people without limitations.</p>

    <p><img src="images/green.jpg" alt="international man" img id="image1"> The Babe Cave is full.</p>

</div>